header{
    background: #ff6633;
    height: 70px;
 }
.Header-site-header{
    margin-bottom: 20px;
    border-radius: 10px;
}
 header ul{
    color: #ffff;

    display: flex;
    flex-direction: row;
    gap: 30px;
    float: right;
    position: absolute;
    right: 240px;
    top: 23px;

 }
.row{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: center;

}
h1{
    position:absolute;
    left: 30px;
    top: 21px;
}
.col-4 h1 a{
    font-size: 120%;
    color: #ffff;
    font-weight: 500;
}
.section_search{
    position: absolute;
    top: 23px;
    right: 25px;
}
.text-input{
    border: 2px solid #0000;
    border-radius: 5px;
}


